.about {
  text-align: center;
  padding-bottom: 88px;
  &__tittle {
    color: $btn-bg;
    font-size: 26px;
    font-weight: 700;
    margin: 120px 0 24px;
    line-height: 50px;
    text-transform: uppercase;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    color: $black;
    font-size: 14px;
    text-align: center;
    @include width-80;
    margin-bottom: 35px;
  }
  &__github-link {
    font-size: 12px;
    font-weight: 700;
    color: $black;
  }
  &__github-link_text {
    margin-left: 6px;
  }
  &__github-link {
    padding: 6px 10px;
    border: 1px solid #d6d6d6;
    background: #f3f3f3;
    border-right: 0;
    border-radius: 2px;
  }
  &__github-link_count {
    font-size: 12px;
    font-weight: 700;
    padding: 8px 10px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    margin-right: 15px;
    color: $black;

  }
  &__github-links-container {
    margin-bottom: 20px;
  }

}

@media screen and (min-width: 401px) {
  .about__tittle {
    font-size: 42px;
  }
  .about__description {
    font-size: 16px;
  }

}

@media screen and (min-width: 481px) {
  .about__description {
    font-size: 21px;
  }

}

@media screen and (min-width: 993px) {
  .about__tittle {
    font-size: 54px;
  }
  .about__description {
    font-size: 16px;
  }
}