body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-wrapper--center {
    justify-content: center;
}