.header {
  &__logo-link-img {
    background: url(/src/img/header/logo.svg) no-repeat center/cover;
    width: 43px;
    height: 41px;
  }

  &__logo-link-img:hover {
    background: url(/src/img/header/logo-hover.svg) no-repeat center/cover;
  }

  &__burger-menu {
    background: url(/src/img/header/burger.svg) no-repeat center/cover;
    width: 26px;
    height: 21px;
  }

  &__burger-menu--active {
    background: url(/src/img/header/burger-x.png) no-repeat center/cover;
    width: 25px;
    height: 25px;
  }
}


.header {
  background: $header-bg;

  &__logo-link {
    @extend .flex-wrap;
  }

  &__logo-tittle {
    display: none;
  }

  &__logo-link {
    margin: 33px 0;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &__list {
    @include flex-column;
  }

  &__list-item {
    font-size: 25px;
    padding: 40px 33px;
    background: $menu-bg;
  }

  &__link {
    position: relative;
    color: $text-white;
    //transition: all 0.5s;
  }

  &__link:hover::before {
    content: '';
    width: 4px;
    height: 53px;
    position: absolute;
    top: -12px;
    left: -35px;
    background: $btn-bg;
  }

  &__link:hover {
    color: $btn-bg;
  }
}
.app {

  margin: 0 auto;
  background: url("/src/img/background/header__app-bg.svg") no-repeat center/cover;
  text-align: center;
  @include flex-column;
  height: 90vh;

  &__title {
    margin: 43px 0 15px;
    color: $text-white;
    font-size: 48px;
    font-weight: 700;
  }

  &__slogan {
    color: $btn-bg;
    font-size: 18px;
  }

  &__text {
    margin-top: 20px;
    color: $text-violet;
    font-size: 14px;
  }

  &__container--mod {
    position: relative;
    top: 60px;
  }
}

@media screen and (min-width: 401px) {
  .header {
    &__logo-tittle {
      display: block;
      margin-left: 17px;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      color: $btn-bg;
      font-size: 24px;
      font-weight: 700;
    }

    &__logo-link:hover /*.header__logo-tittle */{

      & .header__logo-tittle {
      color: $text-white;
      }
      & .header__logo-link-img {
        background: url(/src/img/header/logo-hover.svg) no-repeat center/cover;
      }
    }

    //&__logo-link:hover .header__logo-link-img {
    //  background: url(/src/img/header/logo-hover.svg) no-repeat center/cover;
    //}
  }
  .app {
    &__title {
      font-size: 54px;
      margin: 100px 0 35px;
    }

    &__slogan {
      font-size: 20px;
    }

    &__text {
      font-size: 16px;
    }

    &__btn--mod {
      font-size: 21px;
    }
  }
  .btn {
    font-size: 17px;
  }
}

@media screen and (min-width: 481px) {
  .header {
    &__burger-menu {
      display: none;
    }

    &__logo-link {
      margin: 22px 0 0;
    }
  }
  .app {
    &__title {
      margin: 50px 0 26px;
    }
  }
  .btn {
    margin-top: 22px;
  }
  .header__app-btn--mod {
    font-size: 21px;
  }
  .btn:hover {
    background: $text-white;
    color: $btn-bg;
    transition: all 0.4s;
  }
  .menu {
    display: block;
    position: static;
    width: 100%;

    &__list {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__link:hover::before {
      display: none;
    }

    &__link:hover {
      color: $text-white;
    }

    &__list-item {
      padding: 22px 15px;
      background: $header-bg;
      font-size: 16px;
      font-weight: 700;
    }

    &__link {
      color: $btn-bg;
    }
  }
}

@media screen and (min-width: 993px) {
  .btn {
    order: 3;
    margin: 0;
  }
  .menu {
    order: 2;
    width: auto;
    margin: 20px 0;
    flex-grow: 6;

    &__list-item {
      padding: 22px 0;
    }

    &__list-item {
      margin-right: 48px;
    }

    &__list {
      justify-content: flex-end;
    }
  }
  .header {
    &__logo-link {
      margin: 0;
    }
  }
  .app {
    &__title {
      font-size: 82px;
      margin: 60px 0 18px;
    }

    &__slogan {
      font-size: 30px;
    }
  }
}
  
  