.social {
    margin-top: 15px;
    margin-bottom: 55px;
    font-family: Montserrat, sans-serif;
    display: grid;

    &__item {
        padding-top: 15px;
        padding-bottom: 15px;
        display: grid;
        justify-items: center;
    }

    &__button {
        width: 280px;
        padding-top: 17px;
        padding-bottom: 18px;
        margin-bottom: 18px;
        box-sizing: border-box;
        border-radius: 5px;
        text-decoration: none;
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        &--github {
            background-color: #f3f3f3;
            color: #000000;
        }

        &--twitter {
            background-color: #26a6d1;
        }

        &--facebook {
            background-color: #3b5998;
        }
    }

    &__name {
        font-size: 21px;
        grid-column-start: 2;
    }

    &__folowers-amount {
        color: #848e97;
        font-size: 14px;
    }
}

@media (min-width: 401px) {
    .social{
        margin-top: 25px;
        margin-bottom: 45px;
    }
}