//цвета
$violet: #8d81ac; //кнопки и тд
$violet-dark: #27262a; //бг хедера и всякая хуйня
$violet: #e5e3e3; //это блядь белый

//hamburger
$bar-width: 26px;
$bar-height: 3px;
$bar-spacing: 5px;


$white-text: #fff;
$btn-bg:#8e82ae;
$header-bg:#262626;
$grey-text:#848e97;
$menu-bg:#303030;
$black-color: #323232;


$white-text: #fff;
$grey-text:#848e97;
$color-text-violet:#8d81ac;
$color-text-black: #333333;
$white-text: #fff;
$grey-text: #848e97;
$color-text-violet: #8d81ac;
$color-text-black: #333333;