//цвета
$violet: #8d81ac; //кнопки и тд
$violet-dark: #27262a; //бг хедера и всякая хуйня
$violet: #e5e3e3; //это блядь белый
$black-color: #323232;
$btn-bg:#8e82ae;
$header-bg:#262626;
$menu-bg:#303030;
$white-text: #fff;
$grey-text:#848e97;
$color-text-violet:#8d81ac;
$color-text-black: #333333;



