//цвета

$violet-dark: #27262a; //бг хедера и всякая хуйня
$violet: #e5e3e3; //это блядь белый
$black: #323232; //это черный
$btn-bg: #8e82ae; //заливка кнопки
$header-bg: #262626; //хедер бг
$menu-bg: #303030; //меню бг
$text-white: #fff; //йписят оттенков белого
$text-violet: #8d81ac; //бг хедера
$color-text-black: #333333; //черный текст



